Time Approval

In [1]:
import pandas as pd
import os
import numpy as np
import json

from datetime import datetime as dt
from datetime import timedelta, time, date


dataTA = pd.read_excel('resources/data/Time Approval.xlsx', index_col=0, header=0)
dataSR = pd.read_excel('resources/data/Sites and their Region.xlsx', index_col=0, header=0, sheet_name='Sheet4')
data_indexTA = dataTA.reset_index()
data_indexSR = dataSR.reset_index()

In [2]:
data_indexTA.count()

Account                    5649
Position                   5649
Eid                        5649
Name                       5649
Pay Rate                   5649
Rate Level                 5649
Start Date                 5649
End Date                   5649
Time                       5649
Clocked Shifts             5270
Hours                      5649
Actual Hours               5649
Break                      5649
Actual Breaks              5649
Billing Holiday            5649
Payroll Holiday            5649
Approved Hours             4203
Overwrite Billing Hours    4169
Overwrite Payroll Hours    4170
Actual Billing Hours       5649
Actual Payroll Hours       5649
Bill Item                  5649
Bill Rate                  5060
Shift Notes                4303
dtype: int64

In [3]:
data_indexTA = data_indexTA[['Account', 'Position', 'Eid', 'Name', 'Pay Rate', 'Rate Level', 'Start Date', 'End Date', 'Time', 'Clocked Shifts', 'Hours', 'Actual Hours', 'Break',\
                  'Actual Breaks', 'Billing Holiday', 'Payroll Holiday', 'Approved Hours', 'Overwrite Billing Hours', 'Overwrite Payroll Hours', 'Actual Billing Hours', \
                  'Actual Payroll Hours', 'Bill Item', 'Bill Rate']]
data_indexTA

,Account,Position,Eid,Name,Pay Rate,Rate Level,Start Date,End Date,Time,Clocked Shifts,...,Actual Breaks,Billing Holiday,Payroll Holiday,Approved Hours,Overwrite Billing Hours,Overwrite Payroll Hours,Actual Billing Hours,Actual Payroll Hours,Bill Item,Bill Rate
0,Dearborn,Armed Security Officer,1534,Vernon Everett,15.5,position_rate,11/21/2020,11/22/2020,4pm-4am,04:00pm-04:22am,...,0,N,N,12.37,12.37,12.37,12.37,12.37,SO2,27.61
1,Henry Horner Scattered Sites,Armed Security Officer,1024,Solomon Mays,15.5,position_rate,11/21/2020,11/22/2020,5pm-1am,05:06pm-01:00am,...,0,N,N,7.90,7.90,7.90,7.90,7.90,SO2,27.61
2,Henry Horner Scattered Sites,Armed Security Officer,4149,Robert Mcaroy,15.5,position_rate,11/21/2020,11/22/2020,5pm-1am,05:32pm-01:16am,...,0,N,N,7.72,7.72,7.72,7.72,7.72,SO2,27.61
3,Lowden,Armed Security Officer,1389,Rashad Thomas,15.5,position_rate,11/21/2020,11/22/2020,5pm-3am,05:00pm-03:00am,...,0,N,N,10.00,10.00,10.00,10.00,10.00,SO2,27.61
4,Lowden,Armed Security Officer,4181,Darnell Gibbons,15.5,position_rate,11/21/2020,11/22/2020,5pm-3am,05:57pm-03:00am,...,0,N,N,9.05,9.05,9.05,9.05,9.05,SO2,27.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5644,Aldi Store No.95,Unarmed Security Officer,2079,Terrell Fulton,14.0,position_rate,12/04/2020,12/04/2020,9am-2:30pm,09:00am-02:30pm,...,0,N,N,NaN,NaN,NaN,5.50,5.50,SO1,20.00
5645,Aldi Store No.79,Unarmed Security Officer,4192,Emmett Seymour,14.0,position_rate,12/04/2020,12/04/2020,9am-2:30pm,09:01am-02:30pm,...,0,N,N,NaN,NaN,NaN,5.50,5.50,SO1,20.00
5646,Aldi Store No.88,Unarmed Security Officer,2034,George Reese,14.0,position_rate,12/04/2020,12/04/2020,9am-2:30pm,09:05am-02:30pm,...,0,N,N,NaN,NaN,NaN,5.50,5.50,SO1,20.00
5647,Aldi Store No.29,Unarmed Security Officer,1929,Lee Rogers,14.0,position_rate,12/04/2020,12/04/2020,9am-2:30pm,09:00am-02:30pm,...,0,N,N,NaN,NaN,NaN,5.50,5.50,SO1,20.00
5648,White Castle Store No.75,Armed Guard,1976,Devontrell Turnipseed,15.5,position_rate,12/04/2020,12/04/2020,10:45am-3pm,10:49am-03:00pm,...,0,N,N,NaN,NaN,NaN,4.25,4.25,SO2,23.50

In [4]:
accountSR = data_indexSR[['Account', 'Region']] 
accountSR

                           Account  Region
0             #4405 Walmart Aurora  Darryl
1    125 Operations Administration   Admin
2                  ComEd West Loop  Alicia
3            125 Supervisor Roving  Alicia
4          3900-4000 South Prairie   Steve
..                             ...     ...
315       White Castle Store No.64  Alicia
316       White Castle Store No.67  Alicia
317       White Castle Store No.75  Alicia
318                    Zelda Ormes   Steve
319                  Comed Portage  Alicia

[320 rows x 2 columns]

In [5]:
data_TAwSR = pd.merge(data_indexTA, accountSR, how='inner',on='Account')
data_TAwSR.dtypes

Account                     object
Position                    object
Eid                          int64
Name                        object
Pay Rate                   float64
Rate Level                  object
Start Date                  object
End Date                    object
Time                        object
Clocked Shifts              object
Hours                      float64
Actual Hours               float64
Break                       object
Actual Breaks               object
Billing Holiday             object
Payroll Holiday             object
Approved Hours             float64
Overwrite Billing Hours    float64
Overwrite Payroll Hours    float64
Actual Billing Hours       float64
Actual Payroll Hours       float64
Bill Item                   object
Bill Rate                  float64
Region                      object
dtype: object

In [6]:
data_TAwSR['Start Date'] = pd.to_datetime(data_TAwSR['Start Date'])
data_TAwSR['End Date'] = pd.to_datetime(data_TAwSR['End Date'])
data_TAwSR.dtypes

Account                            object
Position                           object
Eid                                 int64
Name                               object
Pay Rate                          float64
Rate Level                         object
Start Date                 datetime64[ns]
End Date                   datetime64[ns]
Time                               object
Clocked Shifts                     object
Hours                             float64
Actual Hours                      float64
Break                              object
Actual Breaks                      object
Billing Holiday                    object
Payroll Holiday                    object
Approved Hours                    float64
Overwrite Billing Hours           float64
Overwrite Payroll Hours           float64
Actual Billing Hours              float64
Actual Payroll Hours              float64
Bill Item                          object
Bill Rate                         float64
Region                             object
dtype: object

In [17]:
data_TAwSR['Region'] = data_TAwSR['Region'].replace('odom', 'Odom')
data_OT = data_TAwSR.groupby(['Start Date', 'Region', 'Name']).sum()
data_OT.head(50)

                                       Eid  Pay Rate  Hours  Actual Hours  \
Start Date Region Name
2020-11-21 Admin  Demarius Heatly     1357      14.0   8.00          0.00
                  Frances Gilmore     2018      14.0   8.00          7.98
           Alicia Anthony Sturkey     1474      16.5  12.00         12.01
                  Archie Graham       1262      14.0   8.00          9.28
                  Briana Smith        1931      14.0   8.00          8.00
                  Cleophas Bradley    1989      20.0   8.00          8.34
                  Delphinia Nesbitt   1787      14.0   8.00          8.00
                  Diontay Lee         1558      15.5   8.25          8.21
                  Donaus Fallon       2136      14.0   8.00          7.86
                  Edward James        1992      15.5   8.25          8.08
                  Eliasar Rodriguez    473      15.5   6.00          5.68
                  Freda Shelby         495      16.5  12.25         12.43
                  Gary Hudson         2110      14.0   8.00          7.92
                  Irving Torres        505      15.5   6.00          5.66
                  Joshua Bradley      1642      15.5   6.00          5.62
                  Kevin Salmon         217      15.5   6.00          5.89
                  Lorenzo Thomas       143      16.5  12.00         12.36
                  Oscar Gonzalez       221      15.5   6.00          6.01
                  Robert Mcaroy       4149      15.5   8.00          7.72
                  Robert Pearson       707      14.0  12.00         12.02
                  Sheldon Reeves      1881      16.5  12.00         12.00
                  Solomon Mays        1024      15.5   8.00          7.90
                  Terry Williams       446      16.5  12.00         12.12
                  Timothy Wright       434      15.5   6.00          5.98
                  William Brown        597      16.5  12.00         12.27
           Darryl Brittnie Starks     4297      14.0   8.00          7.51
                  Camillie Flowers    1691      15.0   8.00          8.00
                  Christopher Rhodes  2119      14.0   7.50          7.50
                  Geneva Smith          57      14.0  10.00          3.31
                  Gerald Goodman      1890      14.0  12.00         12.00
                  Joseline Bueno      2069      13.0  12.00         12.09
                  Korsica Hodo        4337      14.0   6.00          5.99
                  Latrisha Hassell    4339      14.0   8.00          8.02
                  Louis Robertson     1828      15.5   9.00          8.92
                  Mar'Kist Martin     1440      15.5   9.00          9.06
                  Michael Bennett     4249      13.0  12.00         12.32
                  Roy Perry            644      14.0   9.00          9.00
                  Stanley Gowisnok     197      14.0   8.00          8.01
                  Tiffany Tolefree    1439      16.5  12.00         12.00
                  Vernon Everett      1534      15.5  12.00         12.37
                  Yvette Blakemore    4234      14.0   6.00          5.99
           Odom   Arthur Lyles        1923      14.0   8.00          8.00
                  David Bailey        1864      14.0   7.50          7.50
                  George Norwood      1911      19.0   8.00          8.00
                  Iesha Freeman       4232      14.0   8.50          8.42
                  Jerry Holden        1935      14.0   8.00          8.00
                  Kevin Gore          2158      14.0   8.00          8.00
                  Margarita Harris    2144      14.0   8.00          8.00
                  Raquel Cavin        2068      14.0   8.00          9.12
                  Shaniqua Barton     2097      14.0   8.00          8.00

                                      Approved Hours  Overwrite Billing Hours  \
Start Date Region Name
2020-11-21 Admin  Demarius Heatly               0.00                     0.00
                  Frances Gilmore               7.98                     7.98
           Alicia Anthony Sturkey              12.01                    12.01
                  Archie Graham                 9.28                     9.28
                  Briana Smith                  8.00                     8.00
                  Cleophas Bradley              8.34                     8.34
                  Delphinia Nesbitt             8.00                     8.00
                  Diontay Lee                   8.21                     8.21
                  Donaus Fallon                 8.00                     8.00
                  Edward James                  8.08                     8.08
                  Eliasar Rodriguez             6.00                     6.00
                  Freda Shelby                 12.43                    12.25
                  Gary Hudson                   7.92                     7.92
                  Irving Torres                 5.66                     5.66
                  Joshua Bradley                6.00                     6.00
                  Kevin Salmon                  5.89                     5.89
                  Lorenzo Thomas               12.36                    12.36
                  Oscar Gonzalez                6.00                     6.00
                  Robert Mcaroy                 7.72                     7.72
                  Robert Pearson               12.00                    12.00
                  Sheldon Reeves               12.00                    12.00
                  Solomon Mays                  7.90                     7.90
                  Terry Williams               12.00                    12.00
                  Timothy Wright                5.98                     5.98
                  William Brown                12.00                    12.00
           Darryl Brittnie Starks               7.51                     7.51
                  Camillie Flowers              8.00                     8.00
                  Christopher Rhodes            7.50                     7.50
                  Geneva Smith                  3.31                     3.31
                  Gerald Goodman               12.00                    12.00
                  Joseline Bueno               12.09                    12.09
                  Korsica Hodo                  5.99                     5.99
                  Latrisha Hassell              8.02                     8.02
                  Louis Robertson               8.92                     8.92
                  Mar'Kist Martin               9.06                     9.06
                  Michael Bennett              12.32                    12.32
                  Roy Perry                     9.00                     9.00
                  Stanley Gowisnok              8.01                     8.01
                  Tiffany Tolefree             12.00                    12.00
                  Vernon Everett               12.37                    12.37
                  Yvette Blakemore              5.99                     5.99
           Odom   Arthur Lyles                  8.00                     8.00
                  David Bailey                  7.50                     7.50
                  George Norwood                8.00                     8.00
                  Iesha Freeman                 8.42                     8.42
                  Jerry Holden                  8.00                     8.00
                  Kevin Gore                    8.00                     8.00
                  Margarita Harris              8.00                     8.00
                  Raquel Cavin                  9.12                     9.12
                  Shaniqua Barton               8.00                     8.00

                                      Overwrite Payroll Hours  \
Start Date Region Name
2020-11-21 Admin  Demarius Heatly                        0.00
                  Frances Gilmore                        7.98
           Alicia Anthony Sturkey                       12.01
                  Archie Graham                          9.28
                  Briana Smith                           8.00
                  Cleophas Bradley                       8.34
                  Delphinia Nesbitt                      8.00
                  Diontay Lee                            8.21
                  Donaus Fallon                          8.00
                  Edward James                           8.08
                  Eliasar Rodriguez                      6.00
                  Freda Shelby                          12.25
                  Gary Hudson                            7.92
                  Irving Torres                          5.66
                  Joshua Bradley                         6.00
                  Kevin Salmon                           5.89
                  Lorenzo Thomas                        12.36
                  Oscar Gonzalez                         6.00
                  Robert Mcaroy                          7.72
                  Robert Pearson                        12.00
                  Sheldon Reeves                        12.00
                  Solomon Mays                           7.90
                  Terry Williams                        12.00
                  Timothy Wright                         5.98
                  William Brown                         12.00
           Darryl Brittnie Starks                        7.51
                  Camillie Flowers                       8.00
                  Christopher Rhodes                     7.50
                  Geneva Smith                           3.31
                  Gerald Goodman                        12.00
                  Joseline Bueno                        12.09
                  Korsica Hodo                           5.99
                  Latrisha Hassell                       8.02
                  Louis Robertson                        8.92
                  Mar'Kist Martin                        9.06
                  Michael Bennett                       12.32
                  Roy Perry                              9.00
                  Stanley Gowisnok                       8.01
                  Tiffany Tolefree                      12.00
                  Vernon Everett                        12.37
                  Yvette Blakemore                       5.99
           Odom   Arthur Lyles                           8.00
                  David Bailey                           7.50
                  George Norwood                         8.00
                  Iesha Freeman                          8.42
                  Jerry Holden                           8.00
                  Kevin Gore                             8.00
                  Margarita Harris                       8.00
                  Raquel Cavin                           9.12
                  Shaniqua Barton                        8.00

                                      Actual Billing Hours  \
Start Date Region Name
2020-11-21 Admin  Demarius Heatly                     0.00
                  Frances Gilmore                     7.98
           Alicia Anthony Sturkey                    12.01
                  Archie Graham                       9.28
                  Briana Smith                        8.00
                  Cleophas Bradley                    8.34
                  Delphinia Nesbitt                   8.00
                  Diontay Lee                         8.21
                  Donaus Fallon                       8.00
                  Edward James                        8.08
                  Eliasar Rodriguez                   6.00
                  Freda Shelby                       12.25
                  Gary Hudson                         7.92
                  Irving Torres                       5.66
                  Joshua Bradley                      6.00
                  Kevin Salmon                        5.89
                  Lorenzo Thomas                     12.36
                  Oscar Gonzalez                      6.00
                  Robert Mcaroy                       7.72
                  Robert Pearson                     12.00
                  Sheldon Reeves                     12.00
                  Solomon Mays                        7.90
                  Terry Williams                     12.00
                  Timothy Wright                      5.98
                  William Brown                      12.00
           Darryl Brittnie Starks                     7.51
                  Camillie Flowers                    8.00
                  Christopher Rhodes                  7.50
                  Geneva Smith                        3.31
                  Gerald Goodman                     12.00
                  Joseline Bueno                     12.09
                  Korsica Hodo                        5.99
                  Latrisha Hassell                    8.02
                  Louis Robertson                     8.92
                  Mar'Kist Martin                     9.06
                  Michael Bennett                    12.32
                  Roy Perry                           9.00
                  Stanley Gowisnok                    8.01
                  Tiffany Tolefree                   12.00
                  Vernon Everett                     12.37
                  Yvette Blakemore                    5.99
           Odom   Arthur Lyles                        8.00
                  David Bailey                        7.50
                  George Norwood                      8.00
                  Iesha Freeman                       8.42
                  Jerry Holden                        8.00
                  Kevin Gore                          8.00
                  Margarita Harris                    8.00
                  Raquel Cavin                        9.12
                  Shaniqua Barton                     8.00

                                      Actual Payroll Hours  Bill Rate
Start Date Region Name
2020-11-21 Admin  Demarius Heatly                     0.00       0.00
                  Frances Gilmore                     7.98       0.00
           Alicia Anthony Sturkey                    12.01      39.68
                  Archie Graham                       9.28      24.98
                  Briana Smith                        8.00      22.40
                  Cleophas Bradley                    8.34       0.00
                  Delphinia Nesbitt                   8.00      17.44
                  Diontay Lee                         8.21      23.50
                  Donaus Fallon                       8.00      27.05
                  Edward James                        8.08      23.50
                  Eliasar Rodriguez                   6.00      29.57
                  Freda Shelby                       12.25      39.68
                  Gary Hudson                         7.92      17.44
                  Irving Torres                       5.66      29.57
                  Joshua Bradley                      6.00      29.57
                  Kevin Salmon                        5.89      29.57
                  Lorenzo Thomas                     12.36      39.68
                  Oscar Gonzalez                      6.00      29.35
                  Robert Mcaroy                       7.72      27.61
                  Robert Pearson                     12.00      26.52
                  Sheldon Reeves                     12.00      39.68
                  Solomon Mays                        7.90      27.61
                  Terry Williams                     12.00      39.68
                  Timothy Wright                      5.98      29.35
                  William Brown                      12.00      39.68
           Darryl Brittnie Starks                     7.51      38.08
                  Camillie Flowers                    8.00      24.50
                  Christopher Rhodes                  7.50      38.08
                  Geneva Smith                        3.31      38.08
                  Gerald Goodman                     12.00      28.50
                  Joseline Bueno                     12.09      21.25
                  Korsica Hodo                        5.99      22.50
                  Latrisha Hassell                    8.02      22.50
                  Louis Robertson                     8.92      24.32
                  Mar'Kist Martin                     9.06      24.32
                  Michael Bennett                    12.32      21.25
                  Roy Perry                           9.00      38.08
                  Stanley Gowisnok                    8.01      17.00
                  Tiffany Tolefree                   12.00      38.08
                  Vernon Everett                     12.37      27.61
                  Yvette Blakemore                    5.99      22.50
           Odom   Arthur Lyles                        8.00      21.28
                  David Bailey                        7.50      18.33
                  George Norwood                      8.00      30.69
                  Iesha Freeman                       8.42      18.33
                  Jerry Holden                        8.00      21.28
                  Kevin Gore                          8.00      21.28
                  Margarita Harris                    8.00      17.80
                  Raquel Cavin                        9.12      18.33
                  Shaniqua Barton                     8.00      30.00

In [7]:
data_json = data_index.to_json('C:/Users/kyra.white/adp/resources/data/scheduling_Summary.json', orient="records")
data_json = data_index.to_json(orient="records")

parsed = json.loads(data_json)
print(json.dumps(parsed, indent=4))

NameError: name 'data_index' is not defined