In [6]:
import pandas as pd
import os
import numpy as np
import json

# Reading CSV

data = pd.read_csv('resources/data/Performance Reviews Report.csv', encoding='ISO-8859-1', low_memory=False)

In [5]:
data

,"Employee Last Name, First Name",Position ID,Position Start Date,Reports To Name,Job Title,Business Unit Code,Business Unit Description,Department Code,Department Description,Target Review Completion Date,...,Review Progress,Notice Date,"Contributor Last, First Name",Contributor Role,Overall Score,Overall Rating Name,Overall Comments,Employee Acknowledgement Comments,Employee Acknowledgement Date,Final Outcome/Recommendation
0,"Aaron, Charity",MVX001936,7/20/2020,"Perry, Roy",Unarmed Security Officer,DR,Darryl's Region,800000.0,Field Administration Operations,9/18/2020,...,Delivered to Employee,NaN,"Murphy, Perchat",Reviewer,NaN,NaN,NaN,NaN,NaN,NaN
1,"Aaron, Charity",MVX001936,7/20/2020,"Perry, Roy",Unarmed Security Officer,DR,Darryl's Region,800000.0,Field Administration Operations,9/18/2020,...,Finalized,NaN,"Aaron, Charity",Employee,NaN,NaN,NaN,NaN,NaN,NaN
2,"Adams, Amber",MVX001123,8/13/2018,"White, Bernard",Unarmed Security Officer,SR,Steve's Region,800000.0,Field Administration Operations,2/16/2020,...,Not Distributed,NaN,"Adams, Amber",Employee,NaN,NaN,NaN,NaN,NaN,NaN
3,"Adams, Amber",MVX001123,8/13/2018,"White, Bernard",Unarmed Security Officer,SR,Steve's Region,800000.0,Field Administration Operations,2/16/2020,...,Not Distributed,NaN,NaN,Reviewer,NaN,NaN,NaN,NaN,NaN,NaN
4,"Adams, Amber",MVX001123,8/13/2018,"White, Bernard",Unarmed Security Officer,SR,Steve's Region,800000.0,Field Administration Operations,2/16/2020,...,Terminated,NaN,"Adams, Amber",Employee,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,"Younger, Kameron",MVX000209,9/22/2015,"Scott, Stephanie",Armed Security Officer,SR,Steve's Region,800000.0,Field Administration Operations,2/16/2020,...,Not Yet Submitted,NaN,"Younger, Kameron",Employee,NaN,NaN,NaN,NaN,NaN,NaN
2476,"Zarif, Alexis",MVX001095,7/30/2018,"Salmon, Kevin",Unarmed Security Officer,SR,Steve's Region,800000.0,Field Administration Operations,2/16/2020,...,Not Distributed,NaN,"Zarif, Alexis",Employee,NaN,NaN,NaN,NaN,NaN,NaN
2477,"Zarif, Alexis",MVX001095,7/30/2018,"Salmon, Kevin",Unarmed Security Officer,SR,Steve's Region,800000.0,Field Administration Operations,2/16/2020,...,Not Distributed,NaN,NaN,Reviewer,NaN,NaN,NaN,NaN,NaN,NaN
2478,"Zarif, Alexis",MVX001095,7/30/2018,"Salmon, Kevin",Unarmed Security Officer,SR,Steve's Region,800000.0,Field Administration Operations,2/16/2020,...,Terminated,NaN,"Salmon, Kevin",Reviewer,NaN,NaN,NaN,NaN,NaN,NaN
2479,"Zarif, Alexis",MVX001095,7/30/2018,"Salmon, Kevin",Unarmed Security Officer,SR,Steve's Region,800000.0,Field Administration Operations,2/16/2020,...,Terminated,NaN,"Zarif, Alexis",Employee,NaN,NaN,NaN,NaN,NaN,NaN