Scheduling Summary

In [1]:
import pandas as pd
import os
import numpy as np
import json

from datetime import datetime as dt
from datetime import timedelta, time, date

In [2]:
data = pd.read_excel('resources/data/Scheduling Summary.xlsx', index_col=0, header=0)
data_index = data.reset_index()
data_index#.dtypes

data_index['Full Name'] = data_index['First Name'] + ' ' + data_index['Last Name']
data_index

,Id,First Name,Last Name,Region,Type,Base Pay Rate,Pay Type,Min,Target,Max,Actual,Scheduled,Holiday,Total,Breaks,Overtime,Overtime %,Full Name
0,2085,Leonard,Howard,AGB Investigative Services,employee,$38.00,hourly,NaN,NaN,NaN,98.78,164.27,0,140.82,0.00,0.00,0.00,Leonard Howard
1,944,James,Mullen,Alicia's Region,employee,$29.00,hourly,NaN,NaN,NaN,84.17,85.50,0,84.17,0.00,0.00,0.00,James Mullen
2,105,Bernard,White,Steve's Region,employee,NaN,salary,NaN,NaN,NaN,79.00,79.00,0,79.00,0.65,39.00,49.37,Bernard White
3,191,Stephon,Griffin,Steve's Region,employee,NaN,salary,NaN,NaN,NaN,77.00,77.00,0,77.00,0.62,37.00,48.05,Stephon Griffin
4,433,Andre,Moten,Alicia's Region,employee,NaN,hourly,NaN,NaN,NaN,72.48,71.75,0,72.48,0.54,32.48,44.81,Andre Moten
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,2418,Test User,Guard,Darryl's Region,employee,$12.00,hourly,NaN,NaN,NaN,0.00,0.00,0,0.00,0.00,0.00,0.00,Test User Guard
909,2020,Darius,Davis,Steve's Region,employee,$13.00,hourly,NaN,NaN,NaN,0.00,0.00,0,0.00,0.00,0.00,0.00,Darius Davis
910,1663,Rosalena,Tyler,Alicia's Region,employee,NaN,hourly,NaN,NaN,NaN,0.00,0.00,0,0.00,0.00,0.00,0.00,Rosalena Tyler
911,1566,Raven,Beasley,Steve's Region,employee,$13.00,hourly,NaN,NaN,NaN,0.00,0.00,0,0.00,0.00,0.00,0.00,Raven Beasley
912,2065,Michael,Washington,Alicia's Region,employee,$13.00,hourly,NaN,NaN,NaN,0.00,0.00,0,0.00,0.00,0.00,0.00,Michael Washington

In [ ]:
dt.now()

In [3]:
dt.today().dt.week

AttributeError: 'datetime.datetime' object has no attribute 'dt'

In [ ]:
pd.to_datetime(today).dt.week

In [ ]:
today = dt.today().Calendar(firstweekday=0)

In [ ]:
data_index['Date'] = pd.to_datetime(today)

data_index

In [ ]:
.strftime("%m/%d/%Y")